@import "./globalMaterial/styles.css";

.main {
  display: grid;
  grid-template-rows: 40% 60%;
  height: 100vh;
  width: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  flex-direction: column;
}
.containerTask {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.taskAdic{
  gap: 2rem;
  display: flex;
  align-items: center;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.d-flex {
  display: flex;
  gap: 2rem;
  
}
