<main class="mainMaster">
  <div class="main">
    <div
      class="image"
      [ngClass]="{
        imageDark: themeService.isDark,
        imageLight: !themeService.isDark
      }"
    >
      <app-header />
      <app-input></app-input>
    </div>
    <div
      [ngClass]="{
      'backgroundDark': themeService.isDark,
      'backgroundLight': !themeService.isDark,
    }"
    >
    
    <ng-container *ngFor="let task of listTaskService.listTasks">
      <div class="d-flex-col">
        <div class="d-flex">
          <span>{{'Tarefa: ' + task.task}} <button (click)="removerTask(task._id)">Remover</button></span>
          <button (click)="openDialog(task)">Atualizar Tarefa</button>
        </div>
      </div>
    </ng-container>
    
  </div>
  </div>
</main>
