
.main {
  display: grid;
  grid-template-rows: 40% 60%;
  height: 100vh;
  width: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  flex-direction: column;
}

.imageLight {
  background-image: url("../assets/bg-desktop-light.jpg");
  transition: .3s ease-in-out;


}
.imageDark {
  background-image: url("../assets/bg-desktop-dark.jpg");
  transition: .3s ease-in-out;
}

.backgroundDark {
  background-color: hsl(235, 24%, 19%);
}

.backgroundLight {
  background-color: white;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}