@import "./globalMaterial/styles.css";

.main {
  display: grid;
  grid-template-rows: 40% 60%;
  width: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  flex-direction: column;
}
.containerTask {
  display: flex;
  justify-content: center;
  height: 100vh;
  
}
.taskAdic{
  gap: 2rem;
  display: flex;
  align-items: center;

}
.d-flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;

}

.d-flex {
  display: flex;
  gap: 2rem;

}
