<main class="mainMaster">
  <div class="main">
    <div
      class="image"
      [ngClass]="{
        imageDark: themeService.isDark,
        imageLight: !themeService.isDark
      }"
    >
      <app-header />
      <app-input></app-input>
    </div>
    <div
      class="containerTask"
      [ngClass]="{
      'backgroundDark': themeService.isDark,
      'backgroundLight': !themeService.isDark,
    }"
    >
      <div class="d-flex-col">
        <ng-container *ngFor="let task of listTaskService.listTasks">
          <div class="d-flex">
            <div class="taskAdic">
              <span>{{ "Tarefa: " + task.task }} </span>
              <button
                mat-raised-button
                color="warn"
                [ngClass]="{ bgLaghtButton: !themeService.isDark }"
                (click)="removerTask(task._id)"
              >
                Remover
              </button>
            </div>
            <button
              mat-raised-button
              color="primary"
              (click)="openDialog(task)"
            >
              Atualizar Tarefa
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</main>
