:host::ng-deep .bgDark .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: hsl(235, 24%, 19%);
}

:host::ng-deep .mat-mdc-text-field-wrapper {
    width: 400px;
}

mat-label {
    color: hsl(234, 11%, 52%);
}

:host::ng-deep mdc-line-ripple{
    color: red !important;
}